<!DOCTYPE html>
<html>
<head>
    <title>SYSTUS WiFi Setup</title>
</head>

<body>

    <h1>SYSTUS WiFi Setup</h1>

    <form action="/wifi" method="post">

        <label>Network</label>

        <select name="ssid">

            {% for network in networks %}
                <option value="{{ network }}">
                    {{ network }}
                </option>
            {% endfor %}

        </select>

        <form method="POST" action="/wifi/refresh">
            <button type="submit">🔄 Refresh WiFi List</button>
        </form>

        <br><br>

        <label>Password</label>

        <input
            type="password"
            name="password"
            required
        >

        <br><br>

        <button type="submit">
            Connect
        </button>

    </form>

</body>
</html>