<!DOCTYPE html>
<html>
<head>
    <title>SYSTUS WiFi</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

    <div class="card">

        <h1>✅ Connected</h1>

        <p class="subtitle">
            SYSTUS is now connected to:
        </p>

        <div class="network-name">
            {{ ssid }}
        </div>

        <button
            class="primary"
            onclick="window.location.href='/'"
        >
            Back
        </button>

    </div>

</div>

</body>
</html>